@model IEnumerable<CondominioSolution.UI.ViewModel.MoradorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeBichosEstimacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Familia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condominio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeBichosEstimacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Familia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condominio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
